.textheader {
    font-family: 'Kanit', sans-serif;
      color: rgb(100, 100, 100);
      margin-top: 0;
      margin-bottom: 0rem;
      font-style: normal;
      font-weight: 500;
      text-transform: normal;
    }